{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load static %}
<div class="container py-5"> 
<h1>Привет, меня зовут Любовь</h1>
<p>
  <b> Немного о себе:</b> я родом из Мурманска, уже 2,5 года живу в СПб. В прошлом была банковским сотрудником, загоняющим всех в ипотеку.
  Сейчас нахожусь в декрете и возвращаться в банк не хочу. В университете неплохо ладила с программированием, да и на работе иногда приходилось сталкиваться с тестированием новых программ.
  Пришла на обучение очень уверенной в себе, думала что задачи буду щелкать как орешки. Но уверенности теперь все меньше и меньше. Зато растет интерес, и желание разобраться.
<br>
<br>
<img hspace="10" vspace="10" align="left" src="{% static 'img/IMG_2076.JPG'%}">
  В задании сказали упомянуть о животных, которые помогали работать. 
  Собака у меня есть, французский бульдог Пепа (вот ее обворожительная черная мордочка на фото), но она совсем не помогает, как бы я ее ни просила в минуты отчаяния в ночи, когда сижу над кодом сутки.
  
<br>
<br>
  Больше всех меня вдохновляет муж, который далек от программирования. 
  Когда уже опускаются руки, подойду к нему, скажу что-нибудь на <a href="" title="p.s. отсылка к змеиному языку из Гарри Поттера">"парцелтанке"</a>(см.всплывающий текст), буду не понятой, и от этого теплее на душе, будто я владею секретными познаниями.
  <br> 
  <br> 
  <b>Я ВКонтакте: vk.com/lakrica22</b>
</p>

{% endblock %} 